<h3>Create Form</h3>
<form [formGroup]="createForm" (ngSubmit)="onSubmit()" novalidate>
  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email" formControlName="email">
  </p>
  <!--  <div-->
  <!--    *ngIf="!createForm.controls.email?.valid && (createForm.controls.email?.dirty || createForm.controls.email?.touched)">-->
  <!--    <p style="color: red">Email is not valid</p>-->
  <!--  </div>-->
  <div *ngIf="!createForm.valid && (email.dirty || email.touched)">
    <p style="color: red">Email is not valid</p>
  </div>
  <p>
    <label for="password">Password </label>
    <input type="text" id="password" name="password" formControlName="password">
  </p>
  <div *ngIf="!password.valid && (password.dirty || password.touched)">
    <div [hidden]="!password.errors.required">
      <p style="color: red">Password is required</p>
    </div>
    <div [hidden]="!password.errors.minlength">
      <p style="color: red">Min Length is 6</p>
    </div>
  </div>
  <p>
    <label for="confirmPassword">Confirm password </label>
    <input type="text" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
  </p>
  <div *ngIf="!confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)">
    <div [hidden]="!confirmPassword.errors.required">
      <p style="color: red">Password is required</p>

    </div>
    <div [hidden]="!confirmPassword.errors.minlength">
      <p style="color: red">Min Length is 6</p>
    </div>
  </div>
  <p>
    <label for="country">Country </label>
    <select id="country" name="country" formControlName="country">
      <option [disabled]="true" [selected]="true">Choose country</option>
      <option *ngFor="let c of countryList" >{{c}}</option>
    </select>
  </p>
  <div *ngIf="!country.valid && (country.dirty || country.touched)">
    <p style="color: red">Country cannot be blank</p>
  </div>
  <p>
    <label for="age">Age </label>
    <input type="date" id="age" name="age" formControlName="age">
  </p>
  <div *ngIf="!age.valid && (age.dirty || age.touched)">
    <div [hidden]="!age.errors.required">
      <p style="color: red">Age is required</p>
    </div>
    <div [hidden]="!age.errors.checkAge">
      <p style="color: red">Age must be more than 18</p>
    </div>
  </div>
  <p>
    <label>Gender </label>
    <input  type="radio" value="male" name="gender" formControlName="gender"> Male
    <input type="radio" value="female" name="gender" formControlName="gender"> Female
  </p>
  <div *ngIf="!gender.valid && (gender.dirty || gender.touched)">
    <p style="color: red">Gender cannot be blank</p>
  </div>
  <p>
    <label for="phone">Phone </label>
    <input type="text" id="phone" name="phone" formControlName="phone">
  </p>
  <div *ngIf="!phone.valid && (phone.dirty || phone.touched)">
    <p style="color: red">Phone is not valid</p>
  </div>
  <p>
    <button type="submit" [disabled]="!createForm.valid">Submit</button>
  </p>

</form>
