<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-white  ">
    <div class="container-fluid">
      <a class="navbar-brand text-muted" href="#"><img src="assets/img/favicon.ico" height="27px"> Microsoft</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-dark fs-5" aria-current="page" href="#">| Surface</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-secondary" href="#" id="computers" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Computers
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-secondary" href="#" id="computers-for-business"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Computers for Business
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-secondary" href="#" id="accessories" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Accessories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-secondary" href="#" id="shop-now" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Shop now
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-secondary" href="#" id="support" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Support
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <a class="nav-link dropdown-toggle text-secondary" href="#" id="all-microsoft" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            All microsoft
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
          <a class="nav-link active text-secondary" aria-current="page" href="#">Search
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-search" viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </a>
          <a class="nav-link active text-secondary" aria-current="page" href="#">Cart
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-cart3" viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
          </a>
          <a class="nav-link active text-secondary" aria-current="page" href="#">Sign in
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-person-plus" viewBox="0 0 16 16">
              <path
                d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              <path fill-rule="evenodd"
                    d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
          </a>
        </form>
      </div>
    </div>
  </nav>
  <div class="row ">
    <a class="nav-link bg-primary text-white text-center " aria-current="page" href="#">Shopping for gifts? Order by
      11am PT on 12/22 to get your gifts by 12/24. Shop deals now ></a>
  </div>
  <div class="row text-center mt-lg-3">
    <h1>Unwrap possibility</h1>
    <h4>Surface laptops and 2-in-1s with Windows 11 are designed to fuel your originality, ideas and passions.</h4>
    <a class="nav-link text-lg-end col-lg-6" aria-current="page" href="#">Explore all products ></a>
    <a class="nav-link  text-lg-start col-lg-6" aria-current="page" href="#">Shop Surface Pro 8 ></a>
  </div>
  <img src="assets/img/1920_Panel01_Hero_Holidays_V4.png" width="100%">
  <div class="container">
    <div class="row pt-lg-3 ">
      <p class="col-lg-3 fs-2 text-center">More choices than ever</p>
      <a class="nav-link  col-lg-3" aria-current="page" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" fill="currentColor" class="bi bi-pc-display"
             viewBox="0 0 16 16">
          <path
            d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V1Zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0ZM9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5ZM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5ZM1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2H1.5Z"/>
        </svg>
        Compare devices ></a>
      <a class="nav-link   col-lg-3" aria-current="page" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" fill="currentColor" class="bi bi-laptop"
             viewBox="0 0 16 16">
          <path
            d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
        </svg>
        Help me choose ></a>
      <a class="nav-link col-lg-3" aria-current="page" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" fill="currentColor" class="bi bi-bag-check"
             viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          <path
            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
        </svg>
        Deals ></a>
    </div>
    <div class="row ">
      <p class="col-lg-3">Check out the most diverse selection of Surface devices yet, built for all the ways you
        create,
        work, play, and connect.</p>
      <a class="nav-link  col-lg-3" aria-current="page" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" fill="currentColor" class="bi bi-house-door"
             viewBox="0 0 16 16">
          <path
            d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
        </svg>
        Surface at home ></a>
      <a class="nav-link   col-lg-3" aria-current="page" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" fill="currentColor" class="bi bi-mortarboard"
             viewBox="0 0 16 16">
          <path
            d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z"/>
          <path
            d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"/>
        </svg>
        For Education ></a>
      <a class="nav-link col-lg-3" aria-current="page" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" fill="currentColor" class="bi bi-building"
             viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
          <path
            d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
        </svg>
        For Business ></a>
    </div>
    <div class="row p-3">
      <p class="col-lg-6 fs-4">2-in-1 PCs</p>
      <p class="col-lg-6 fs-4">Dual Screen</p>
    </div>
    <div class="row">
      <img class="col-lg-3" src="assets/Surface_F21_DeviceFamily_DO2_V1.jpg">
      <img class="col-lg-3" src="assets/img/Surface_F21_DeviceFamily_DO3_V1.jpg">
      <img class="col-lg-3" src="assets/img/Surface_F21_DeviceFamily_DO4_V1.jpg">
      <img class="col-lg-3" src="assets/Surface_F21_DeviceFamily_DOStore2_V1.jpg">
    </div>
    <p class="col-sm-12 fs-4 p-3">Laptops</p>
    <div class="row">
      <img class="col-lg-3" src="assets/mg/Surface_F21_DeviceFamily_SLS_V1.jpg">
      <img class="col-lg-3" src="assets/Surface_F21_DeviceFamily_Book3_V1_Blackfriday.jpg">
      <img class="col-lg-3" src="assets/img/Surface_F21_DeviceFamily_Laptop4_V1_Blackfriday.jpg">
      <img class="col-lg-3" src="assets/img/Surface_F21_DeviceFamily_LaptopGo_V1_Blackfriday.jpg">
    </div>
    <p class="col-sm-12 fs-4 p-3">All-in-One</p>
    <div class="row">
      <img class="col-lg-3" src="assets/img/Surface_F21_DeviceFamily_Studio2_V1_Blackfriday.jpg">
    </div>
    <div class="row border border-dark m-3  ">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active col-lg-12 ">
            <img src="assets/Surface_F21_DeviceFamily_Book3_V1_Blackfriday.jpg  " class=" col-lg-4 float-start">
            <div class="col-lg-4 p position-relative float-start">
              <h5>Bundle and save up to $229</h5>
              <p>Slip some holiday savings under the tree when you bundle select Surface Pro 7+ with Surface
                Pro Type Cover. Starting from $699.99.</p>
            </div>
            <a class="nav-link  position-relative col-lg-4 float-end" aria-current="page" href="#">BUY NOW</a>
          </div>
          <div class="carousel-item  col-lg-12">
            <img src="assets/Surface_F21_DeviceFamily_DOStore2_V1.jpg" class=" col-lg-4 float-start">
            <div class="col-lg-4 float-start">
              <h5>Up to $600 off select Surface Pro 7</h5>
              <p>Shop amazing deals on powerful processing, improved battery life, and even more multitasking
                connections.</p>
            </div>
            <a class="nav-link  float-end col-lg-4" aria-current="page" href="#">BUY NOW</a>
          </div>
          <div class="carousel-item  col-lg-12">
            <img src="assets/Surface_F21_DeviceFamily_DO2_V1.jpg" class=" col-lg-4 float-start">
            <div class="col-lg-4 float-start">
              <h5>Up to $300 off select Surface Laptop 4</h5>
              <p>Slip some holiday savings under the tree when you bundle select Surface Pro 7+ with Surface
                Pro Type Cover. Starting from $699.99.</p>
            </div>
            <a class="nav-link  float-end col-lg-4" aria-current="page" href="#">BUY NOW</a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <img src="assets/img/1.jpg" class=" col-lg-12">
                <p class="fs-5">Windows 11 brings you closer to what you love</p>
                <p>Family, friends, passions, music, creations—Windows 11 is the one place for it all. With
                  a fresh new feel and tools that make it easier to be efficient, it has what you need for
                  whatever’s next.</p>
                <a class="nav-link " href="#">See what's new ></a>
              </div>
              <div class="col-lg-6">
                <img src="assets/img/2.jpg" class=" col-lg-12">
                <p class="fs-5">Original by Cache Bunny and Collete Davis</p>
                <p>With a little inspiration, an amazing original idea, and the right Surface, see how Cache
                  and Collete realized their vision on the Surface Laptop Studio and Surface Pro 8.</p>
                <div class="row">
                  <a class="nav-link col-lg-6" href="#">Watch video ></a>
                  <a class="nav-link col-lg-6 " href="#">Meet our other Surface originals ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-6">
                <img src="assets/img/3.jpg" class=" col-lg-12">
                <p class="fs-5">Our sustainability journey</p>
                <p>From product to packaging, we’re committed to a more sustainable future. Our new
                  Microsoft Ocean Plastic Mouse features a shell made with 20% recycled ocean plastic and
                  plastic-free box made from recyclable wood and sugarcane natural fibers.</p>
                <a class="nav-link " href="#">Shop Microsoft Ocean Plastic Mouse ></a>
              </div>
              <div class="col-lg-6">
                <img src="assets/img/4.jpg" class=" col-lg-12">
                <p class="fs-5">Designing for adaptability</p>
                <p>Surface products are built to help people be creative, productive, and connected.
                  Microsoft Surface Adaptive Kit, created in partnership with people with disabilities,
                  makes it easier to adapt, use and navigate your compatible Surface PC and
                  accessories.</p>
                <a class="nav-link " href="#">See how ></a>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row bg-dark text-white fs-6">
    <p class="ms-5">
      Reprinted with permission. © 2021 Ziff Davis, LLC. All Rights Reserved.<br><br>
      Features and app availability may vary by region.<br><br>
      * The Windows 11 upgrade will be delivered to qualifying devices late 2021 into 2022. Timing varies by device.
      Certain features require specific hardware (see aka.ms/windows11-spec).<br><br>
    </p>
  </div>
  <div class="container">
    <div class="float-lg-start">
      <p>Follow this page</p>
    </div>
    <div class="float-lg-end">
      <p>Share this page</p>
    </div>
  </div>
  <div class="container-fluid bg-secondary row col-lg-12 fs-6">
    <div class="col-lg-2">
      <h5>What's new</h5><br>
      <p>Surface Pro 8 <br><br>
        Surface Laptop Studio<br><br>
        Surface Pro X<br><br>
        Surface Go 3<br><br>
        Surface Duo 2<br><br>
        Surface Pro 7+<br><br>
        Windows 11 apps<br><br>
        HoloLens 2</p>
    </div>
    <div class="col-lg-2">
      <h5>Microsoft Store</h5><br>
      <p>Account profile<br><br>
        Download Center<br><br>
        Microsoft Store support<br><br>
        Returns<br><br>
        Order tracking<br>
        Virtual workshops and training<br><br>
        Microsoft Store Promise<br><br>
        Flexible Payments</p>
    </div>
    <div class="col-lg-2">
      <h5>Education</h5><br>
      <p>Microsoft in education<br><br>
        Office for students<br><br>
        Office 365 for schools<br><br>
        Deals for students & parents<br><br>
        Microsoft Azure in education</p>
    </div>
    <div class="col-lg-2">
      <h5>Enterprise</h5><br>
      <p>
        Azure<br><br>
        AppSource<br><br>
        Automotive<br><br>
        Government<br><br>
        Healthcare<br><br>
        Manufacturing<br><br>
        Financial services<br><br>
        Retail</p>
    </div>
    <div class="col-lg-2">
      <h5>Developer</h5><br>
      <p>Microsoft Visual Studio<br><br>
        Windows Dev Center<br><br>
        Developer Center<br><br>
        Microsoft developer program<br><br>
        Channel 9<br><br>
        Microsoft 365 Dev Center<br><br>
        Microsoft 365 Developer Program<br><br>
        Microsoft Garage</p>
    </div>
    <div class="col-lg-2">
      <h5>Company</h5><br>
      <p>Careers<br><br>
        About Microsoft<br><br>
        Company news<br><br>
        Privacy at Microsoft<br><br>
        Investors<br><br>
        Diversity and inclusion<br><br>
        Accessibility<br><br>
        Security</p>
    </div>
  </div>
</div>
