<div class="container-fluid" >
  <div class="row container-fluid">
    <div class="col-lg-9">
      <img width="75px"
           src="assets\img\logofurana.png">
    </div>
<!--    <div class="col-lg-3 pt-lg-5 pe-lg-5" sec:authorize="anonymous">-->
<!--      <a class="btn btn-success" href="/login">Login</a>-->
<!--    </div>-->
<!--    <div class="col-lg-3 mt-lg-3 pe-lg-5">-->
<!--      <div sec:authorize="isAuthenticated()"> &lt;!&ndash;Kiểm tra đã xác thực hay chưa.&ndash;&gt;-->
<!--        <h5 style="color:lightseagreen">Hello : <span sec:authentication="principal.name"></span></h5>-->
<!--        <a class="btn btn-warning" th:href="@{/logout}">Logout</a>-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <div class="border border-3 row header">
    <div class="col-lg-10 row float-lg-end ">
      <a id="home" class="nav-link-1 col-lg-2" href="/">Home</a>
      <a class="nav-link-1 col-lg-2" href="/employee">Employee</a>
      <a class="nav-link-1 col-lg-2" href="/customer">Customer</a>
      <a class="nav-link-1 col-lg-2" href="/service">Service</a>
      <a class="nav-link-1 col-lg-2" href="/contract/create">Contact</a>
      <a class="nav-link-1 col-lg-2" href="/contract_detail/create">Contact Detail</a>
    </div>
  </div>
</div>
