<div  container-fluid class="border border-3 row text-center ">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-light">
          <h2 class="mb-1">Hướng Dẫn Di Chuyển</h2>
          <div class="d-flex flex-column flex-md-row flex-lg-column">
            <p>Khu nghỉ dưỡng Furama là cơ sở hàng đầu để khám phá một trong những điểm đến hấp dẫn
              nhất Châu Á. Chỉ cách Đà Nẵng một quãng lái xe ngắn là bốn Di sản Văn hóa Thế giới
              được UNESCO công nhận:
            </p>
          </div>
          <div class="mt-3 mt-md-1 mt-lg-3"></div>
          <h4 class="mb-1 mb-md-2">Địa Điểm</h4>
          <table class="place-table">
            <tbody>
            <tr>
              <td>1.</td>
              <td>Cố đô Huế</td>
              <td class="text-right">
                <span>2 tiếng</span>
              </td>
            </tr>
            <tr>
              <td>2.</td>
              <td>Phố cổ Hội An</td>
              <td class="text-right">
                <span>30 phút</span>
              </td>
            </tr>
            <tr>
              <td>3.</td>
              <td>Thánh địa Mỹ Sơn</td>
              <td class="text-right">
                <span>90 phút</span>
              </td>
            </tr>
            <tr>
              <td>4.</td>
              <td>Động Phong Nha</td>
              <td class="text-right">
                <span>3 tiếng</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-7 ml-lg-auto d-flex flex-column position-static">
          <div class="row">
            <div class="col-sm col-lg-5">
              <div id="nav_menu-1" class="footer-widget4  widget_nav_menu">
                <div class="menu-footer-menu-vi-container">
                  <ul id="menu-footer-menu-vi" class="menu">
                    <li id="menu-item-6855"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6855">
                      <a href="https://furamavietnam.com/vi/furama-resort-danang-rack-rate/">
                        Giá Công Bố
                      </a>
                    </li>
                    <li id="menu-item-6854"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6854">
                      <a href="https://furamavietnam.com/vi/lifestyle-blog/">Lifestyle
                        Blog
                      </a>
                    </li>
                    <li id="menu-item-6856"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6856">
                      <a href="https://furamavietnam.com/vi/work-with-us/">Tuyển Dụng</a>
                    </li>
                    <li id="menu-item-6857"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6857">
                      <a href="https://furamavietnam.com/vi/contact/">Liên Hệ</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="text-5" class="footer-widget4  widget_text">
                <div class="textwidget"></div>
              </div>
            </div>
            <div class="col-sm mt-2 mt-sm-0">
              <h4>
                Liên hệ
              </h4>
              <ul class="icn-list">
                <li>
                  <i class="icon-placeholder"></i>
                  <span style="color: #707070;font-size: 12px">103 - 105 Vo Nguyen Giap
                                                Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam
                                            </span>
                  <br style="margin: 0px;padding: 0px;color: #707070;font-size: 12px"/>
                  <span style="color: #707070;font-size: 12px">Tel.: 84-236-3847 333/888 *
                                            </span>
                  <span style="color: #707070;font-size: 12px">Fax: 84-236-3847 666</span>
                  <br style="margin: 0px;padding: 0px;color: #707070;font-size: 12px"/>
                  <span style="color: #707070;font-size: 12px">Email:</span>
                  <a class="link"
                     style="margin: 0px;padding: 0px;color: #707070;font-size: 12px"
                     href="mailto:reservation@furamavietnam.com">reservation@furamavietnam.com
                  </a>
                  <span style="color: #707070;font-size: 12px">*</span>
                  <a class="link"
                     style="margin: 0px;padding: 0px;color: #707070;font-size: 12px"
                     href="https://www.furamavietnam.com/undefined/">www.furamavietnam.com
                  </a>

                  <p>&nbsp;</p>

                  <a href="https://www.facebook.com/furamaresort/" target="_blank"
                     rel="noopener">
                    <img style="width: 32px;height: 32px;float: left"
                         src="https://furamavietnam.com/wp-content/uploads/2019/06/incon-Facbook-1.png"
                         alt="" width="32" height="32"/>
                  </a>
                  <a href="https://www.instagram.com/furama_resort_danang/?hl=vi"
                     target="_blank" rel="noopener">
                    <img style="width: 40px;height: 32px;float: left"
                         src="https://furamavietnam.com/wp-content/uploads/2019/06/social-ins.png"
                         alt="" width="40" height="32"/>
                  </a>
                  <a href="https://www.youtube.com/user/furamaresortvietnam/featured"
                     target="_blank" rel="noopener">
                    <img style="width: 40px;height: 32px;float: left"
                         src="https://furamavietnam.com/wp-content/uploads/2021/10/social-youtube.png"
                         alt="" width="40" height="32"/>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row mt-5 mb-1 mt-lg-auto mb-md-0 align-items-center">
            <div class="col-sm-auto col-lg-12 col-xl-auto">
              <div class="footer-copyright text-left">
                <img src="https://furamavietnam.com/wp-content/uploads/2019/02/Ariyana-Tourism-Complex-02-2.png"
                     alt="Ariyana Tourism Complex" width="500px;">
                <div class="clearfix d-md-none"></div>
                © 2018 Furama Resort Danang.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
