<h1  style="color:lightseagreen">Delete</h1>
<h2>Are you sure ?</h2>
<div>
  <div class="container-fluid">
    <p>ID : <span th:text="${service.serviceId}"></span></p>
    <p>Name : <span th:text="${service.serviceName}"></span></p>
    <p> Customer Type : <span th:text="${service.rentType.rentTypeName}"></span></p>
    <p> Customer Type : <span th:text="${service.serviceType.serviceTypeName}"></span></p>
    Do you sure to delete?
  </div>
  <div class="mt-lg-3">
    <button class="btn btn-danger deleteAction">Delete</button>
    <input type="hidden" th:value="${service.serviceId}">
  </div>
</div>
