<h1 style="color:lightseagreen">Delete</h1>
<h2>Are you sure ?</h2>
<div>
  <div class="container-fluid">
    <p>ID : <span>{{id}}</span></p>
    <p>Name : <span>{{facilityName}}</span></p>
    <p> Rentype : <span>{{rentTypeName}}</span></p>
    <p> Facility Type : <span>{{facilityTypeName}}</span></p>
    Do you sure to delete?
  </div>
  <div class="mt-lg-3">
    <div class="mt-lg-3 row">
      <button class="btn btn-danger col-4" (click)="delete()">Delete</button>
      <p class="col-4"></p>
      <button class="btn btn-primary col-4 " (click)="close()">Close</button>
    </div>
  </div>
</div>
