<h1 style="color:lightseagreen">Delete</h1>
<h2>Are you sure ?</h2>
<div>
  <div class="container-fluid">
    <p>ID : {{customerId}}<span></span></p>
    <p>Name : {{customerName}} <span></span></p>
    <p> Customer Type : {{customerType}} <span></span></p>
    <h1 style="color:red;">Do you sure to delete?</h1>
  </div>
  <div class="mt-lg-3 row">
    <button class="btn btn-danger col-4" (click)="delete()">Delete</button>
    <p class="col-4"></p>
    <button class="btn btn-primary col-4 " (click)="close()">Close</button>
  </div>
</div>
