<h1  style="color:lightseagreen">Delete</h1>
<h2>Are you sure ?</h2>
<div>
  <div class="container-fluid">
    <p>ID : <span th:text="${employee.employeeId}"></span></p>
    <p>Name : <span th:text="${employee.employeeName}"></span></p>
    <p>Position: <span th:text="${employee.position.positionName}"></span></p>
    <p>Division: <span th:text="${employee.division.divisionName}"></span></p>
    <p>Education Degree: <span th:text="${employee.educationDegree.educationDegreeName}"></span></p>
    Do you sure to delete?
  </div>
  <div class="mt-lg-3">
    <button class="btn btn-danger deleteAction">Delete</button>
    <input type="hidden" th:value="${employee.employeeId}">
  </div>
</div>
